header
{
    top: 0;
    left: 0;
    background: #16423C;
    width: 100%;
    padding: 0%;
}

header p
{
    color: #C4DAD2;
}

header ul
{
    display: flex;
    padding: 0;
    justify-content: center;
    align-content: center;
    background-color: #6A9C89;
    margin: 20px 20px 100px 20px;
    border-radius: 20px;
}

header ul li
{
    width: 100px;
    height: 35px;
    display: inline-block;
    padding: 0 20px;
    background: #C4DAD2;
    border-radius: 20px;
    color: #000000;
    text-align: center;
    align-content: center;
    margin: 10px;
    pointer-events: none;
}

header ul li button
{
    width: 100px;
    height: 35px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    pointer-events: auto;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: left;

}

.categoria
{
    height: 150px;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.container .logodiv
{
    width: 25%;
    display: flex;
    justify-content: start;
}

.container .searchComponents
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.container .butaoperfil
{
    width: 25%;
    display: flex;
    justify-content: end;
}

.container a
{
    display: flex;
    align-content: center;
    text-decoration: none;
    padding-top: 20px;
}

.container a
{
    display: flex;
    align-content: center;
    text-decoration: none;
}

.container .searchComponents input
{
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: left;
    background: #C4DAD2;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: 0;
    text-indent: 45px;
    padding: 0;
    background-image: url('lupa.png');
    background-size: 25px 25px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
}

.container button
{
    padding-left: 161;
    background-color: transparent;
    pointer-events: auto;
    cursor: pointer;
    border: 0;
}

.container button img
{
    pointer-events: none;
}

#nomeSite
{
    font-family: Inknut Antiqua;
    font-size: 36px;
    font-weight: 400;
    line-height: 92.84px;
    text-align: left;
    color: #6A9C89;
    display: inline;
    margin: 10px auto 10px 0;
}

#slogan
{
    font-family: Jacques Francois Shadow;
    font-size: 36px;
    margin: 0;
    text-align: center;
}

.logo
{
    border-radius: 0px;
}

header img
{
    width: 75px;
    height: 75px;
    gap: 0px;
    opacity: 0px;
    border-radius: 50%;
    margin: 10px;
}

body
{
    background-color: #6A9C89;
    margin: 0;
    padding: 0;
}

main h2
{
    font-family: Kufam;
    font-size: 48px;
    font-weight: 400;
    line-height: 62.4px;
    text-align: left;
    margin-left: 20px;
}

main .Roll
{
    display: flex;
    align-items: center;
    background: #C4DAD2;
    height: 375px;
    margin: 75px 50px 75px 50px;    
    border-radius: 30px;
    overflow: hidden;
}

main .Roll .plano
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 9%;
}

main .Roll .plano a h3
{
    color: #000000;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
    text-align: left;
    margin: 10px;
}

main .Roll .plano a
{
    text-decoration: none;
}

.Visualizar, .Favoritar
{
    display: flex;
    align-items: center;
    margin: 5px;
}

.Favoritar img, .Visualizar img
{
    height: 30px;
    width: 30px;
    margin-right: 7px;
}

.Visualizar img
{
    height: 22px;
}

.Visualizar p, .Favoritar p
{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
}


.Visualizar p, .Favoritar p
{
    margin: 0px;
}

.Estrelas img
{
    margin: 3px;
}

footer
{
    top: 0;
    left: 0;
    background: #16423C;
    width: 100%;
    padding: 0%;
}

footer .bottomContainer
{
    display: grid;
    grid-template-rows: 33%;
    grid-template-columns: 50%;
    height: 450px;
    justify-content: center;
}

footer .bottomContainer a
{
    display: flex;
    align-content: center;
    padding: 0px;
    color: #C4DAD2;
    text-decoration: none;
}

footer .bottomContainer a p
{
    align-self: center;
    font-family: Inknut Antiqua;
    font-size: 24px;
    font-weight: 400;
    line-height: 61.9px;
    text-align: left;
}

footer .bottomContainer a img
{
    width: 50px;
    height: 50px;
    margin: 10px;
    align-self: center;
    border-radius: 0px;
}

footer .bottomContainer .item1
{
    grid-row: 1;
    grid-column: 2;
}

footer .bottomContainer .item2
{
    grid-row: 2;
    grid-column: 1;
}

footer .bottomContainer .item2 img
{
    width: 75px;
    height: 75px;
}

footer .bottomContainer .item2 p
{
    color: #6A9C89;
    font-family: Inknut Antiqua;
    font-size: 36px;
    font-weight: 400;
    line-height: 92.84px;
    text-align: left;
}

footer .bottomContainer .item3
{
    grid-row: 2;
    grid-column: 2;
}

footer .bottomContainer .item4
{
    grid-row: 3;
    grid-column: 2;
}

footer h2
{
    text-align: center;
    margin: 0;
    padding: 25px 0px 25px 0px;
    font-family: Instrument Sans;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.92px;

    color: #6A9C89;
}