{% extends "base.html" %} 
{% load static %}
{% block style %} 
    <link rel="stylesheet" href="{% static 'criarPlano.css'%}">
{% endblock %}
{% block content %} 
<form action="criarPlanos" method="post" id="criar-Plano">
    {% csrf_token %}
    <div class="sidebyside">
        <div class="bloco-esquerdo">
            <div class="campo-informacao">
                <label for="campo-imagem-plano">
                    <p>Imagem do Plano</p>
                    <img src="{% static 'images/upload_imagem.jpg' %}" class="campo-imagemplano" alt="Foto Plano">
                </label>
                <input type="file" name="criarplano" id="campo-imagem-plano" class="campo-inseririmagem" accept="image/png, image/jpeg">
            </div>
        </div>
        <div class="bloco-direito">
            <div class="campo-informacao">
                <label>Titulo do Plano</label>
                {{form.titulo}}
            </div>
            <div class="campo-informacao">
                <label>Descrição do Plano</label>
                {{form.descricao}}
            </div>
            <div class="campo-informacao">
                <label>Visibilidade do Plano</label>
                {{form.visibilidade}}
            </div>
        </div>
    </div>
    <div class="encerrar-criarplano">
        <input type="submit" value="Salvar Plano" class="botao-salvar-plano">
    </div>
</form>
{% endblock %}