{% extends "base.html" %} 
{% load static %}
{% block style %} 
    <link rel="stylesheet" href="{% static 'homepage.css'%}">
{% endblock %}
{% block content %} 
<h2>Plano de estudos populares</h2>
    <div class = "Roll">
        {% for plano in planos %}
            <div class = "plano">
                <a href = "">
                    <img src="{% static 'images/livros.png' %}" alt="Foto plano">
                    <h3 class="Titulo">{{plano.titulo}}</h3>
                </a>
                <div class="Visualizar">
                    <img src="{% static 'images/olho.png' %}" alt="Foto plano">
                    <p>{{plano.nVisualizacoes}} visualizaram</p>
                </div>
                <div class="Favoritar">
                    <img src="{% static 'images/coracao.png' %}" alt="Foto plano">
                    <p>{{plano.nFavoritos}} favoritaram</p>
                </div>
                <div class="Estrelas">
                    <img src="{% static 'images/estrela.png' %}" alt="Estrela1">
                    <img src="{% static 'images/estrela.png' %}" alt="Estrela2">
                    <img src="{% static 'images/estrela.png' %}" alt="Estrela3">
                    <img src="{% static 'images/estrela.png' %}" alt="Estrela4">
                    <img src="{% static 'images/estrela.png' %}" alt="Estrela5">
                </div>
            </div>
        {% endfor %}
    </div>
    <h2>Plano de estudos bem avaliados</h2>
    <div class = "Roll">
        {% for plano in planos %}
            <div class = "plano">
                <a href = "">
                    <img src="{% static 'images/livros.png' %}" alt="Foto plano">
                    <h3 class="Titulo">{{plano.titulo}}</h3>
                </a>
                <div class="Visualizar">
                    <img src="{% static 'images/olho.png' %}" alt="Foto plano">
                    <p>{{plano.nVisualizacoes}} visualizaram</p>
                </div>
                <div class="Favoritar">
                    <img src="{% static 'images/coracao.png' %}" alt="Foto plano">
                    <p>{{plano.nFavoritos}} favoritaram</p>
                </div>
                <div class="Estrelas">
                    <img src="{% static 'images/estrela.png' %}" alt="Estrela1">
                    <img src="{% static 'images/estrela.png' %}" alt="Estrela2">
                    <img src="{% static 'images/estrela.png' %}" alt="Estrela3">
                    <img src="{% static 'images/estrela.png' %}" alt="Estrela4">
                    <img src="{% static 'images/estrela.png' %}" alt="Estrela5">
                </div>
            </div>
        {% endfor %}
    </div>
    <h2>Plano de estudos de amigos</h2>
    <div class = "Roll">
        {% for plano in planos %}
            <div class = "plano">
                <a href = "">
                    <img src="{% static 'images/livros.png' %}" alt="Foto plano">
                    <h3 class="Titulo">{{plano.titulo}}</h3>
                </a>
                <div class="Visualizar">
                    <img src="{% static 'images/olho.png' %}" alt="Foto plano">
                    <p>{{plano.nVisualizacoes}} visualizaram</p>
                </div>
                <div class="Favoritar">
                    <img src="{% static 'images/coracao.png' %}" alt="Foto plano">
                    <p>{{plano.nFavoritos}} favoritaram</p>
                </div>
                <div class="Estrelas">
                    <img src="{% static 'images/estrela.png' %}" alt="Estrela1">
                    <img src="{% static 'images/estrela.png' %}" alt="Estrela2">
                    <img src="{% static 'images/estrela.png' %}" alt="Estrela3">
                    <img src="{% static 'images/estrela.png' %}" alt="Estrela4">
                    <img src="{% static 'images/estrela.png' %}" alt="Estrela5">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}