@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.pagina {
    height: 100vh;
    display: flex;
    background-color: #C4DAD2;
    justify-content: space-between;
    align-items: center;
    color: #1E1E1E;
    font-family: "Inter", sans-serif;
}

.criar-conta {
    margin: 1%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.titulo-crie-conta {
    font-size: 3rem;
    padding-bottom: 2%;
}

.campo-informacao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#formulario-cadastro {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1.5rem;
    height: 80%;
}

.aviso-senha {
    font-size: 0.75rem;
}

.campo-inserir, .campo-selecionar {
    padding: 2% 1%;
    border: solid #D9D9D9 1px;
    border-radius: 12px;
}

.campo-inserir::placeholder {
    font-family: 'Inter', sans-serif;
}

.confirmacao-criar-conta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.captcha-cadastro {
    font-size: 1rem;
    display: flex;
    width: 50%;
    border: solid #333333 1px;
    border-radius: 18px;
    align-items: center;
    justify-content: space-between;
    padding: 1% 3%;
}

.confirma-nao-sou-robo {
    display: flex;
    width: 60%;
    gap: 5%;
}

.logo-recaptcha {
    width: 15%;
    height: 10%;
}

.aceita-termos-de-uso {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 3%;
    font-size: 0.75rem;
}

.termos-de-uso {
    font-weight: bold;
    text-decoration: underline;
}

.encerrar-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 50%;
    font-size: 1rem;
}

.botao-criar-conta {
    background-color: #2C2C2C;
    color: #F5F5F5;
    width: 100%;
    height: 60%;
    border-radius: 1rem;
    font-size: 1rem;
}

.link-fazer-login {
    color: #1E1E1E;
    font-weight: 700;
    text-decoration: underline;
}

.logo-projeto {
    justify-self: center;
    width: 60%;
    height: 100%;
}